* {
    box-sizing: border-box;
    font-variant-numeric: tabular-nums;
}
body {
    width: 100%;
    margin: 0px;
    padding-left: 1em;
    padding-right: 1em;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    text-align: center;
}
#main-canv {
    border: 1px solid black;
    margin-left: 22%;
    width: 56%;
    border-radius: 10px;
}
#canv-container {
    margin: 2px;
    width: 100%;
}
#graph-canv {
    border: 1px solid black;
    width: 100%;
    border-radius: 10px;
}
#graph-container {
    margin: 5px;
}
#input-set {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}
#input-set .input-boxed {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

#addition-btns {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
#addition-btns button {
    margin: 3px;
    padding: 7px;
    font-weight: bolder;
}